.hidden-chart {
	display: none;
}

.visible-chart {
	margin-top: 50px;
	display: block;
}

ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
ul li {
	min-width: 150px;
	list-style-type: none;
	flex:0 0 auto;
}
li span {
	width: 100%;
	display: inline-block;
}

.wrong-ans {
	height: 30px;
	background-color: red;
}

.right-ans {
	height: 30px;
	background-color: green;
}